@use '../base/variable' as v;
@use '../base/mixins' as m;


.acciones{
    margin-top: v.$separacion;
    @include m.tablet {
        display:flex;
        justify-content: space-between;
    }

    p{font-size: 1.6rem;
      margin-bottom: calc(v.$separacion / 2);}

    a{color: v.$azul;
        align-self: center;}

        .redireccionar{
          color: v.$blanco;
          background-color: v.$azul;
          padding: 1rem 2rem;
          border-radius: 1rem;
        }
}